$darkblue:#196E84;
$darkgray:#444444;
$white: #ffffff;
$bodyfont: 'Lato', Helvetica, sans-serif;
$headingfont: 'Arimo', Helvetica, serif;

@mixin border-radius($radius) {
	-webkit-border-radius:$radius;
	-moz-border-radius:$radius;
	-ms-border-radius:$radius;
	border-radius:$radius;
}