@import '_vars';

body {
	font-family:$bodyfont;
	font-size:16px;
}

.container {
	h1, h2, h3, h4, h5, h6 {
		font-family:$headingfont;
	}
	h1, h2, h3 {
		color:$darkblue;
	}
}

a {
	color:#000;
	font-weight:bold;
	&:hover {
		color:#000;
	}
}

#header-main {
	background: $darkblue;
    color: $white;
    padding: 1em;
    border-bottom: 3px solid $darkgray;
    font-family: $headingfont;
    h1, h2, h3 {color:$white;}
}

.position-center {
	max-width:600px;
	margin:auto;
}

.paddingtop {
	padding-top:2em;
}

.navigation {
	background-color:#F4F5F5;
	ul {
		padding:0;
		margin:0;
		text-align:center;
	}
	li {
		display: inline-block;
	}
	a {
		display: block;
		padding:1em 1.5em;
		text-transform: uppercase;
		text-decoration: none;
		color:$darkblue;
		&:hover, &:focus, &.is-active {
			background-color:$darkblue;
			color:#fff;
			text-decoration: none;
		}
	}
}

.home-content {
	text-align:center;
	max-width:600px;
	margin: 2.5em auto;
}

#footer-main {
	margin-top:5em;
}